bzr
juju-deployer
argcomplete>=0.8.1  # Version in Xenial
jinja2>=2.8  # Version in Xenial
python-cinderclient>=1.0.0  # From Mojo requirements
bzr+lp:codetree#egg=codetree
bzr+lp:mojo#egg=mojo
distro-info
python-openstackclient
python-neutronclient
python-swiftclient
babel!=2.4.0,>=2.3.4
