# Zaza
git+https://github.com/openstack-charmers/zaza.git#egg=zaza
git+https://github.com/openstack-charmers/zaza-openstack-tests.git#egg=zaza.openstack

# Juju crashdump
# pin commit to work around https://github.com/juju/juju-crashdump/issues/34
git+https://github.com/juju/juju-crashdump.git@dba9ff0e6d71d25d37d9011d032d5fcc1af21c5c#egg=jujucrashdump

# Mojo
juju-deployer
websocket-client-py3!=0.44.0  # https://bugs.launchpad.net/mojo/+bug/1713871
argcomplete>=0.8.1  # Version in Xenial
jinja2>=2.8  # Version in Xenial
setuptools==36.4.0  # For Mojo
bzr+lp:codetree#egg=python-codetree

# disabled because of a bug because of which whitelisted states aren't taken
# into account when waiting for the model to become ready:
# bzr+lp:mojo#egg=mojo
bzr+lp:~ost-maintainers/mojo/py3#egg=mojo

cmd2!=0.8.3  # MIT
dnspython
babel!=2.4.0,>=2.3.4
paramiko  # For mojo_os_utils

# OpenStack
# Newer versions dropped Python 3.5 support:
python-openstackclient>=3.14.0,<3.19.0
aodhclient<1.3.0
python-designateclient>=1.5,<3.0.0
python-barbicanclient<5.0.0
python-ceilometerclient
python-cinderclient<4.3.0
python-glanceclient<2.17.0
python-heatclient<1.18.0
python-keystoneclient<3.20.0
python-neutronclient<6.13.0
python-novaclient<14.0.0
python-swiftclient<=3.8.0

# Newer versions use keywords that didn't exist in
# python 3.5 yet (e.g. "ModuleNotFoundError")
importlib-metadata<3.0.0
importlib-resources<3.0.0

# Missing dependency of python-openstackclient:
dogpile.cache<1.0.0

# Dependency of python-glanceclient. Newer versions dropped Python 3.5 support:
oslo.utils<=3.41.0
