# Zaza
git+https://github.com/openstack-charmers/zaza.git#egg=zaza
git+https://github.com/openstack-charmers/zaza-openstack-tests.git#egg=zaza.openstack

# Juju crashdump
# pin commit to work around https://github.com/juju/juju-crashdump/issues/34
git+https://github.com/juju/juju-crashdump.git@dba9ff0e6d71d25d37d9011d032d5fcc1af21c5c#egg=juju-crashdump

# Mojo
juju-deployer
websocket-client!=0.44.0  # https://bugs.launchpad.net/mojo/+bug/1713871
argcomplete>=0.8.1  # Version in Xenial
jinja2>=2.8  # Version in Xenial
setuptools==36.4.0  # For Mojo
bzr+lp:codetree#egg=codetree
bzr+lp:mojo#egg=mojo
cmd2!=0.8.3  # MIT
distro-info
dnspython
babel!=2.4.0,>=2.3.4
paramiko  # For mojo_os_utils

# OpenStack
python-openstackclient>=3.14.0
aodhclient
python-designateclient>=1.5,<3.0.0
python-barbicanclient
python-ceilometerclient
python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-neutronclient
python-novaclient
python-swiftclient
